{% extends 'base.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
    <h1>Hotel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hotel.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ hotel.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ hotel.descripcion }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ hotel.ciudad }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ hotel.direccion }}</td>
            </tr>
            <tr>
                <th>Comunidad</th>
                <td>{{ hotel.comunidad }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ hotel.provincia }}</td>
            </tr>
            <tr>
                <th>Salida</th>
                <td>{{ hotel.salida ? hotel.salida|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Llegada</th>
                <td>{{ hotel.llegada ? hotel.llegada|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ hotel.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ hotel.email }}</td>
            </tr>
            <tr>
                <th>Web</th>
                <td>{{ hotel.web }}</td>
            </tr>
            <tr>
                <th>ImagenPortada</th>
                <td>{{ hotel.imagenPortada }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hotel_index') }}">back to list</a>

    <a href="{{ path('hotel_edit', {'id': hotel.id}) }}">edit</a>

    {{ include('hotel/_delete_form.html.twig') }}
{% endblock %}
