{% extends 'base.html.twig' %}

{% block title %}TripAddict | Carrito{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-12 order-md-4 mb-5 mt-5">
            <h2 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted "> Tu carrito </span>                
            </h2>

            {% if carrito|length > 0 %}
                {% set total=0 %}

                <div class=" d-flex flex-row-reverse mb-2 mt-2 ml-auto">
                <span class="badge badge-secondary badge-pill">{{carrito|length}}</span>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Unidades</th>
                            <th scope="col">Precio unidad</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, elemento in carrito %}

                            {% set subtotal=elemento['producto'].precio * elemento['cantidad'] %}
                            {% set total=subtotal+total %}
                            <tr>
                                <form action='/carrito/editar' method='POST'>
                                    <input type='hidden' value="{{key}}" id='key' name='key'/>
                                    <td scope="col"> 
                                    
                                    {% if elemento['tipo'] == 'normal' %}
                                    
                                    {{elemento['producto'].nombre}}
                                    
                                    {% else  %}

                                        Paquete Aleatorio

                                    {% endif %}
                                    
                                    
                                    </td>


                                    <td scope="col"> 
                                           
                                    {% if elemento['tipo'] == 'normal' %}
                                    
                                     <input name="cantidad" id="cantidad" type="number" min='0' max='10' value="{{elemento['cantidad']}}" />
                                     <button type='submit' name='enviar' class='btn btn-info ml-2'><i class="fa fa-edit"></i></button>
                                    

                                    {% endif %}
                                           
                                    </td>
                                    <td scope="col">{{elemento['producto'].precio}} €</td>
                                    <td scope="col">{{subtotal}} €</td>
                                    <td scope="col"><a href="/carrito/borrar/{{key}}" class='btn btn-danger'><i class="fa fa-trash"></i></a></td>
                                </form>
                            </tr>
                        {% endfor %}
                        <tr>

                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col">Total</td>
                                <td scope="col">{{total}} €</td>

                        </tr>
                    </tbody>
                </table>

                <div class=" d-flex flex-row-reverse mb-2 mt-2 ml-auto">
                    <a href='/carrito/vaciar' class='btn btn-danger m-4 ml-auto'>Vaciar Carrito</a>
                </div>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href='/confirmacionPedido' class='btn-lg mt-4 btn btn-block btn-success'>Realizar Pedido</a>
                {% else %}
                    <div class="alert alert-info" role="alert">
                            Debe iniciar sesión para continuar.
                    </div>
                    <a href='/login' class='btn-lg mt-4 btn btn-block btn-success'>Iniciar Sesión</a>
                {% endif %}
                
            {% else %}
                Aun no has realizado ningun pedido    
            {% endif %}   

            
        </div>
        </div>
        {% endblock %}