{% extends 'base.html.twig' %}

{% block title %}PackAleatorio index{% endblock %}

{% block body %}
    <h1>PackAleatorio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Precio</th>
                <th>Titulo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pack_aleatorio in pack_aleatorios %}
            <tr>
                <td>{{ pack_aleatorio.id }}</td>
                <td>{{ pack_aleatorio.Precio }}</td>
                <td>{{ pack_aleatorio.Titulo }}</td>
                <td>
                    <a href="{{ path('pack_aleatorio_show', {'id': pack_aleatorio.id}) }}">show</a>
                    <a href="{{ path('pack_aleatorio_edit', {'id': pack_aleatorio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pack_aleatorio_new') }}">Create new</a>
{% endblock %}
