{% extends 'base.html.twig' %}

{% block title %}Estancia index{% endblock %}

{% block body %}
    <h1>Estancia index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Noches</th>
                <th>Personas</th>
                <th>Habitacion</th>
                <th>TipoPension</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estancium in estancias %}
            <tr>
                <td>{{ estancium.id }}</td>
                <td>{{ estancium.noches }}</td>
                <td>{{ estancium.personas }}</td>
                <td>{{ estancium.habitacion }}</td>
                <td>{{ estancium.tipoPension }}</td>
                <td>
                    <a href="{{ path('estancia_show', {'id': estancium.id}) }}">show</a>
                    <a href="{{ path('estancia_edit', {'id': estancium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('estancia_new') }}">Create new</a>
{% endblock %}
