{% extends 'base.html.twig' %}

{% block title %}Hello FinCompraController!{% endblock %}

    

{% block body %}

    <div>
        <div class="col-md-12 mb-2 mt-2">
            <h4 class="mb-3 text-center"> Gracias. </h4>
        </div>
        
        <div class="col-md-12 mb-4 mt-2">
            <h4 class="text-center"> Su compra ha sido procesada. En unos momentos recibirá un correo electrónico. </h4>
        </div>
    </div>

    {% if carrito|length > 0 %}
                {% set total=0 %}

                <div class=" d-flex flex-row-reverse mb-2 mt-2 ml-auto">
                <span class="badge badge-secondary badge-pill">{{carrito|length}}</span>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Unidades</th>
                            <th scope="col">Precio unidad</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, elemento in carrito %}

                            {% set subtotal=elemento['producto'].precio * elemento['cantidad'] %}
                            {% set total=subtotal+total %}

                            <tr>

                                <td scope="col"> {{elemento['producto'].nombre}}</td>
                                <td scope="col">{{elemento['cantidad']}} </td>
                                <td scope="col">{{elemento['producto'].precio}} €</td>
                                <td scope="col">{{subtotal}} €</td>
                                

                            </tr>
                        {% endfor %}
                        <tr>

                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col"></td>
                                <td scope="col">Total</td>
                                <td scope="col">{{total}} €</td>

                            </tr>
                    </tbody>
                </table>
                {% endif %}

        <div class="container">
        
            <div class="justify-content-between lh-condensed">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h4 class="text-muted"> Datos personales </h4>
                </div>                     
            </div>

                <div class="row">
                
                        <div class="col-md-6 mb-3">
                                <label for="firstName"> Nombre: </label>
                                <input type="text" class="form-control" id="firstName" placeholder= {{ form_widget(form.nombre ) }}
                                
                        </div>

                        <div class="col-md-6 mb-3">
                                <label for="lastName"> Apellidos: </label>
                                <input type="text" class="form-control" id="lastName" placeholder={{ form_widget(form.apellidos ) }}
                               
                        </div>
                        

                    
                        <div class="mb-3">
                            <label for="email"> Email <span class="text-muted"></span></label>
                            <input type="email" class="form-control" id="email" placeholder={{ form_widget(form.email ) }}
                           
                        </div>

                        <div class="col-md-6 mb-3">
                                <label for="firstName"> Direccion: </label>
                                <input type="text" class="form-control" id="firstName" placeholder= {{ form_widget(form.direccion ) }}
                                
                        </div>

                        <div class="col-md-6 mb-3">
                                <label for="lastName"> Ciudad: </label>
                                <input type="text" class="form-control" id="lastName" placeholder={{ form_widget(form.ciudad ) }}
                               
                        </div>
                        
                        
            </div>
        </div>  

{% endblock %}
