{% extends 'base.html.twig' %}

{% block title %}Hello FinCompraController!{% endblock %}

    

{% block body %}

    <div>
        <div class="col-md-12 mb-2 mt-2">
            <h4 class="mb-3 text-center"> Gracias. </h4>
        </div>
        
        <div class="col-md-12 mb-4 mt-2">
            <h4 class="text-center"> Su compra ha sido procesada. En unos momentos recibirá un correo electrónico. </h4>
        </div>
    </div>

    {% if pedido.lineaPedidos|length > 0 %}
        {% set total=0 %}
            <div class=" d-flex flex-row-reverse mb-2 mt-2 ml-auto">                
                <span class="badge badge-secondary badge-pill p-2"><h4>{{pedido.lineaPedidos|length}} Productos</h4></span>
            </div>

            <table class="table">
            
                <thead>
                    <tr>
                        <th scope="col">Código del paquete</th>
                        <th scope="col">Pack</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Fecha fin</th>
                    </tr>
                </thead>

                <tbody>

                    {% for linea in pedido.lineaPedidos %}
                    {% set total = total + linea.precio %}

                        <tr>
                            <td scope="col"> {{linea.id}} </td>
                            <td scope="col"> {{linea.idpack.nombre}} </td>
                            <td scope="col"> {{linea.precio}} € </td>
                            <td scope="col"> {{linea.fechaFin|date("m/d/Y")}} </td>
                        </tr>

                    {% endfor %}

                        <tr>
                            <td scope="col">Nº de pedido: #{{pedido.id}}</td>
                            <td scope="col"></td>
                            <td scope="col"><b>Total</b></td>
                            <td scope="col"><b>{{total}} €</b></td>
                        </tr>
                </tbody>
            </table>
    {% endif %}
  

{% endblock %}
